In [141]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import collections
from itertools import combinations

In [4]:
data = pd.read_csv('/Users/vlv/Downloads/movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1210,tt1538403,60000000,90565421,The Mortal Instruments: City of Bones,Lily Collins|Jamie Campbell Bower|Kevin Zegers...,Harald Zwart,You have been chosen,"In New York City, Clary Fray, a seemingly ordi...",130,Action|Adventure|Drama|Mystery|Romance,Constantin Film Produktion|Don Carmody Product...,8/21/2013,6.2,2013
1797,tt0778661,10000000,31609243,Daddy's Little Girls,"Gabrielle Union|Idris Elba|Louis Gossett, Jr.|...",Tyler Perry,Family Comes First,Monty is a mechanic struggling to make ends me...,100,Comedy|Drama|Romance,"Lions Gate Films|Tyler Perry Company, The",2/14/2007,6.7,2007
1057,tt0383010,30000000,54819301,The Three Stooges,Sean Hayes|Will Sasso|Chris Diamantopoulos|Sof...,Bobby Farrelly|Peter Farrelly,Just Say Moe.,While trying to save their childhood orphanage...,92,Comedy,Wessler Entertainment,4/13/2012,4.9,2012
820,tt1411704,63000000,183953723,Hop,Russell Brand|James Marsden|Kaley Cuoco|Hank A...,Tim Hill,"Candy, chicks and rock 'n' roll.","E.B., the Easter Bunny's teenage son, heads to...",95,Animation,Universal Pictures|Illumination Entertainment,3/30/2011,5.4,2011
55,tt1502712,120000001,167977596,Fantastic Four,Miles Teller|Kate Mara|Michael B. Jordan|Jamie...,Josh Trank,Change is coming.,Four young outsiders teleport to a dangerous u...,100,Action|Adventure|Science Fiction,Twentieth Century Fox Film Corporation|Marv Fi...,8/5/2015,4.4,2015

In [70]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [143]:
answers = {} # создадим словарь для ответов

# Преобразование столбца даты релиза в формат времени
data.release_date = pd.to_datetime(data.release_date)

# Добавление столбца с прибылью. Прибыль = сборы - бюджет
data['profit'] = data.revenue - data.budget

# Добавление столбца с месяцем релиза
data['release_month'] = data.release_date.dt.month

# Добавление столбеца с количеством символов в названии фильма
data['title_length'] = data['original_title'].str.len()

# Добавление столбеца с количеством символов в описании фильма
data['overview_length'] = data['overview'].str.len()

data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,title_length,overview_length
553,tt0231402,21150000,39438674,Crocodile Dundee in Los Angeles,Paul Hogan,Simon Wincer,He heard there was wildlife in L.A. He didn't ...,After settling in the tiny Australian town of ...,92,Adventure|Comedy,Bungalow Productions|Silver Lion Films|Vision ...,2001-04-12,4.8,2001,18288674,4,31,372
1838,tt0218967,60000000,124745083,The Family Man,Amber Valletta,Brett Ratner,What if you made different choices? What if yo...,"Jack's lavish, fast-paced lifestyle changes on...",125,Comedy|Drama|Romance|Fantasy,Universal Pictures,2000-12-12,6.4,2000,64745083,12,14,487
679,tt0462465,50000000,7033683,Outlander,Jim Caviezel,Howard McCain,It destroyed his world. He won't let it destro...,"During the reign of the Vikings, a man from an...",115,Fantasy|Action|Science Fiction,Ascendant Pictures|Rising Star|VIP Medienfonds...,2008-04-24,6.0,2008,-42966317,4,9,213
540,tt0120681,35000000,74558115,From Hell,Johnny Depp,Albert Hughes|Allen Hughes,Only the legend will survive.,Frederick Abberline is an opium-huffing inspec...,122,Horror|Mystery|Thriller,Twentieth Century Fox Film Corporation|Underwo...,2001-10-19,6.4,2001,39558115,10,9,218
1799,tt0172495,103000000,457640427,Gladiator,Joaquin Phoenix,Ridley Scott,A Hero Will Rise.,General Maximus' success in battle earns the f...,155,Action|Drama|Adventure,DreamWorks SKG|Universal Pictures|Scott Free P...,2000-05-01,7.7,2000,354640427,5,9,338

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1293,tt2473682,5000000,86362372,Paranormal Activity: The Marked Ones,Richard Cabral|Carlos Pratts|Eddie J. Fernande...,Christopher B. Landon,You're one of us now.,Seventeen-year-old Jesse has been hearing terr...,84,Horror|Thriller,Blumhouse Productions|Room 101|Solana Films,12/31/2013,5.3,2013
797,tt1598778,60000000,135458097,Contagion,Matt Damon|Gwyneth Paltrow|Kate Winslet|Jude L...,Steven Soderbergh,Nothing spreads like fear,Contagion follows the rapid progress of a leth...,106,Drama|Thriller|Science Fiction,Double Feature Films|Regency Enterprises|Warne...,9/8/2011,6.1,2011
1002,tt1446192,145000000,306941670,Rise of the Guardians,Chris Pine|Alec Baldwin|Jude Law|Isla Fisher|H...,Peter Ramsey,You better believe.,When an evil spirit known as Pitch lays down t...,97,Fantasy|Animation|Family,DreamWorks Animation,11/21/2012,6.9,2012
1365,tt0377107,20000000,7535331,Proof,Gwyneth Paltrow|Anthony Hopkins|Jake Gyllenhaa...,John Madden,The biggest risk in life is not taking one.,Catherine is a woman in her late twenties who ...,100,Drama|Mystery,Miramax Films|Endgame Entertainment|Hart-Sharp...,9/5/2005,6.1,2005
917,tt0279331,15000000,9237470,Dark Blue,Kurt Russell|Scott Speedman|Michael Michele|Br...,Ron Shelton,"1992, L.A is at boiling point. One cop's turni...","Set during the Rodney King riots, a robbery ho...",118,Action|Crime|Drama|Thriller,United Artists|Intermedia Films|IM Filmprodukt...,12/14/2002,6.7,2002

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [112]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'# +

In [181]:
data1 = data.groupby(['original_title'])['budget'].max().sort_values(
    ascending=False).index[0]

print(data1)

Pirates of the Caribbean: On Stranger Tides

ВАРИАНТ 2

# 2. Какой из фильмов самый длительный (в минутах)?

In [113]:
answers['2'] = 'Gods and Generals (tt0279111)' # +

In [146]:
data2 = data.groupby(['original_title'])['runtime'].max().sort_values(
    ascending=False).index[0]

print(data2)

Gods and Generals

# 3. Какой из фильмов самый короткий (в минутах)?

In [114]:
answers['3'] = 'Winnie the Pooh (tt1449283)' # +

In [147]:
data3 = data.groupby(['original_title'])['runtime'].max().sort_values(
    ascending=True).index[0]

print(data3)

Winnie the Pooh

# 4. Какова средняя длительность фильмов?

In [115]:
answers['4'] = '110' # +

In [148]:
print(round(data['runtime'].mean()))

110

# 5. Каково медианное значение длительности фильмов?

In [116]:
answers['5'] = '107' # +

In [149]:
# выведем основные статистические характеристики
# столбца 'runtime', среди которых характеристика '50%' — это медиана
print(data['runtime'].describe())

count    9438.000000
mean      109.664971
std        18.017025
min        63.000000
25%        97.000000
50%       107.000000
75%       120.000000
max       214.000000
Name: runtime, dtype: float64

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [117]:
answers['6'] = 'Avatar (tt0499549)' # +

In [150]:
data6 = data.groupby(['original_title'])['profit'].max().sort_values(
    ascending=False).index[0]

print(data6)

Avatar

# 7. Какой фильм самый убыточный?

In [118]:
answers['7'] = 'The Lone Ranger (tt1210819)' # +

In [151]:
data7 = data.groupby(['original_title'])['profit'].max().sort_values(
    ascending=False).index[-1]

print(data7)

The Lone Ranger

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [119]:
answers['8'] = '1478' # +

In [152]:
print(len(data[data.revenue > data.budget].value_counts()))

7389

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [120]:
answers['9'] = 'The Dark Knight (tt0468569)' # +

In [153]:
data9 = data[data.release_year == 2008]

data9 = data9.groupby(['original_title'])['revenue'].max().sort_values(
    ascending=False).index[0]

print(data9)

The Dark Knight

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [121]:
answers['10'] = 'The Lone Ranger (tt1210819)' # +

In [154]:
data10 = data[(data.release_year >= 2012) &
              (data.release_year <= 2014)]

data10 = data10.groupby(['original_title'])['profit'].max().sort_values(
    ascending=True).index[0]

print(data10)

The Lone Ranger

# 11. Какого жанра фильмов больше всего?

In [122]:
answers['11'] = 'Drama' # +

In [161]:
# у фильма может быть несколько жанров, разделенных знаком "|",
# поэтому предобработаем столбец, чтобы учесть все значения
data11 = data.copy()
data11.genres = data11.genres.str.split('|')
data11 = data11.explode('genres')

data11_1 = data11["genres"].value_counts().index[0]

print(data11_1)

Drama

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [123]:
answers['12'] = 'Drama' # +

In [162]:
# воспользуемся предобработанным датасетом из задания 11
data12 = data11[data11['profit'] > 0].genres.value_counts().index[0]

print(data12)

Drama

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [124]:
answers['13'] = 'Peter Jackson' # +

In [164]:
# предобработка столбца режиссеров
data13 = data.copy()
data13.director = data13.director.str.split('|')
data13 = data13.explode('director')

data13_1 = data13.groupby(['director'])['revenue'].sum().sort_values(
    ascending=False).index[0]

print(data13_1)

Peter Jackson

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [125]:
answers['14'] = 'Robert Rodriguez' # +

In [165]:
data14 = data13[data13.genres.str.contains(
    "Action", na=False)].director.value_counts().index[0]

print(data14)

Robert Rodriguez

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [126]:
answers['15'] = 'Chris Hemsworth' # +

In [169]:
# предобработка столбца с актерами
data15 = data.copy()
data15.cast = data15.cast.str.split('|')
data15 = data15.explode('cast')

data15_1 = data[data['release_year'] == 2012]

data15_1 = data15_1.groupby(['cast'])[['revenue']].sum().sort_values(
    ['revenue'], ascending=False).index[0]

print(data15_1)

Chris Hemsworth

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [127]:
answers['16'] = 'Matt Damon' # +

In [170]:
data16 = data15[data15.budget > data15.budget.mean()].cast.value_counts(
    ascending=False).index[0]

print(data16)

Matt Damon

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [128]:
answers['17'] = 'Action' # +

In [171]:
data17 = data11[data11.cast.str.contains(
    "Nicolas Cage", na=False)].genres.value_counts().index[0]

print(data17)

Action

# 18. Самый убыточный фильм от Paramount Pictures

In [129]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)' # +

In [172]:
# предобработка названий киностудий
data18 = data.copy()
data18.production_companies = data18.production_companies.str.split('|')
data18 = data18.explode('production_companies')

data18_1 = data18[data18['production_companies'] == 'Paramount Pictures'][
    ['original_title', 'profit']].sort_values(
    ['profit'], ascending=True).reset_index()

print(data18_1.loc[0][1])

K-19: The Widowmaker

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [130]:
answers['19'] = '2015' # +

In [173]:
data19 = data.groupby(['release_year'])['revenue'].sum().sort_values(
    ascending=False).index[0]

print(data19)

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [131]:
answers['20'] = '2014' # +

In [174]:
data20 = data18[data18.production_companies.str.contains(
    "Warner Bros", na=False)][['profit', 'release_year']].sort_values(
    ['profit'], ascending=False)

data20 = data20.groupby(['release_year'])['profit'].sum().sort_values(
    ascending=False).index[0]

print(data20)

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [132]:
answers['21'] = 'Сентябрь' # +

In [175]:
data21 = data.groupby(['release_month'])['original_title'].count().sort_values(
    ascending=False).index[0]

print(data21)

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [133]:
answers['22'] = '450' # +

In [176]:
data22 = data[(data.release_month >= 6) & (data.release_month <= 8)]

data22 = data22.groupby(['release_month'])['original_title'].count().sum()

print(data22)

2249

# 23. Для какого режиссера зима – самое продуктивное время года?

In [95]:
answers['23'] = 'Peter Jackson' # +

In [100]:
data23 = data13[data13.release_month.isin([12, 1, 2])]

data23 = data23.groupby(['director'])['original_title'].count().sort_values(
    ascending=False).index[0]

print(data23)

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [134]:
answers['24'] = 'Four By Two Productions' # +

In [102]:
data24 = data.copy()
data24.production_companies = data24.production_companies.str.split('|')
data24 = data24.explode('production_companies')

data24_1 = data24.groupby(['production_companies'])[
    'title_length'].mean().sort_values(ascending=False).index[0]

print(data24_1)

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [135]:
answers['25'] = 'Midnight Picture Show' # +

In [103]:
data25 = data24.groupby(['production_companies'])[
    'overview_length'].mean().sort_values(ascending=False).index[0]

print(data25)

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [136]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave' # +

In [177]:
data26 = data.copy()

# записываем в переменную рейтинг фильма, равный 99%
procent_99 = np.percentile(data26.vote_average, 99)

# выводим фильмы с рейтингом выше или равным 99%
data26 = data26[data26.vote_average >= procent_99].sort_values(
    ['vote_average'], ascending=False)['original_title']

print(data26)

599                                      The Dark Knight
599                                      The Dark Knight
599                                      The Dark Knight
599                                      The Dark Knight
599                                      The Dark Knight
                             ...
863                The Lord of the Rings: The Two Towers
155                             The Theory of Everything
155                             The Theory of Everything
155                             The Theory of Everything
496    The Lord of the Rings: The Fellowship of the Ring
Name: original_title, Length: 140, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

In [137]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint' # +

In [178]:
counts = collections.Counter() # создаем словарь

"""Цикл для перебора комбинацией актеров. Каждый раз, когда в следующей строке 
находится пара из предыдущей строки счетчик увеличивается"""
for cast_list in data['cast'].str.split('|'):
    for actor_pair in combinations(cast_list, 2):
        counts[actor_pair] += 1
        
# получаем кортеж, где ключ - актерская пара,
# а значение — количество повторений
result = pd.Series(counts) 

print(result.sort_values(ascending=False))

Series([], dtype: float64)

<ipython-input-178-30230eb4dddc>:11: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  result = pd.Series(counts)

# Submission

In [180]:
# в конце можно посмотреть свои ответы к каждому вопросу
print(answers)

{}

In [179]:
# и убедиться что ни чего не пропустил)
len(answers)

0